body{
    background-color: black;
    margin: 0px;
    align-items: center;
}
.d-flex{
    display:flex;
}
.flex-column{
    flex-direction: column;
}

#contenido{
    align-items: center;
    background-color: black;
}
.titular-post{
    justify-content: space-between;
    align-items: center;
    padding:5px;
}

.post{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 400px;   
}
.post p {
    padding:0px;
    font-family: Roboto, sans-serif;
    margin-left: 15px;
}


